body {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9cc734b8;

  #root {
    .app-wrapper {
      margin: 0 auto;
      width: 480px;
      border-radius: 8px;
      padding: 24px;
      overflow: auto;
      background-color: yellow;

      header {
        margin-bottom: 12px;
        font-size: 20px;
        text-align: center;
      }

      .add-task {
        position: relative;
        
        input {
          border: none;
          outline: none;
          border-bottom: 1px solid black;
          margin-right: 12px;
          background-color: transparent;
          padding: 5px 4px;
          color: black;
          width: calc(100% - 60px);
        }

        button {
          border-radius: 50%;
          cursor: pointer;
          outline: none;
          width: 36px;
          height: 36px;
          position: absolute;
          right: 0;
          bottom: 0;
        }
      }

      .all-tasks {
        margin: 16px 0;

        .task {
          display: flex;
          justify-content: space-between;
          align-items: center;

          .name-and-checkbox {
            display: flex;

            span {
              text-decoration: none;
              cursor: pointer;
              width: 22rem;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
              position: relative;

              &:after {
                content: attr(title);
                position: absolute;
                top: 100%;
                left: 0;
                white-space: normal;
                background-color: #000;
                color: #fff;
                padding: 5px;
                opacity: 0;
                pointer-events: none;
                transition: opacity 0.3s ease;

                &:hover {
                  &:after {
                    opacity: 1;
                  }
                }
              }
            }
          }

          form {
            flex-grow: 1;
            margin-right: 9px;

            input {
              width: 100%;
              padding: 5px 4px;
            }
          }

          .checkbox-btn,
          .edit-btn,
          .delete-btn {
            cursor: pointer;
            padding: 7px;
            border-radius: 2px;
            border: none;
            background-color: blue;
            color: white;
            margin: 0 3px;
          }
        }
      }
    }
  }
}
